body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    min-width: 225px;
    max-width: 225px;
    min-height: 105px;
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
}

#option-table {
    color: rgba(255, 255, 255, 0.6);
    width: 225px;
    border-collapse: collapse;
    margin-bottom: 6px;
}

#option-playlists {
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#option-add {
    text-align: right;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

button {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    background-repeat :no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

button:hover {
    color: rgba(255, 255, 255, 0.9);
}

#add-table tr{
    height: 31px;
    width: 225px;
}

#add-submit {
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    margin-top: 6px;
    margin-left: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 2px;
}

#add-submit:hover {
    border: 1px solid rgba(255, 255, 255, 0.9);
}

input {
    text-align: right;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
}

input:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.add-inputs {
    float: right;
    margin-left: 6px;
}

select {
    width: 135px;
    padding: 2px;
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
}

#add-select {
    margin: 0px;
    padding: 0px;
}

.add-field {
    padding-left: 8px;
    color: rgba(255, 255, 255, 0.3);
}

#add-container {
    padding-bottom: 7px;
}

#input-container {
    float: right;
}

#np-song-container {
    width: 170px;
    position: relative;
    width: 200;
    left: 5px;
    top: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

#np-song-container:hover {
    color: rgba(255, 255, 255, 0.8);
}

#np-artist-container:hover {
    color: rgba(255, 255, 255, 0.8);
    width: 200;
}


#np-artist-container {
    width: 170px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    padding-bottom: 3px;
    padding-left: 5px;
    top: -10px;
}

#open-up {
    position: relative;
    left: 180px;
    width: 30px;
    top: -3px;
}

#elapsed-time, #song-time {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.3);
}

#time-container {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    position: relative;
    top: -8px;
    padding-top: 3px;
}

img {
    padding-left: 13px;
    padding-right: 13px;
}

#control-table {
    position: relative;
    top: -4px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 150px;
    height: 5px;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 5px;
    width: 3px;
    border-radius: 3px;
    background: black;
}

input[type=range]::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 3px;
    margin-top: -3px;
    background: black;
}

input[type=range]::-webkit-slider-thumb:active {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 3px;
    margin-top: -3px;
    background: black;
}

input[type=range]::-ms-fill-lower {
    background-color: rgba(255, 255, 255 0.3);
}

input[type=range]::-ms-fill-upper {
    background-color: rgba(255, 255, 255 0.8);
}

#playlist-names-container {
    height: 118px;
    overflow: scroll;
}

.playlist-name {
    color: rgba(255, 255, 255, 0.3);
    padding-left: 8px;
    padding-top: 3px;
    font-size: 12px;
    cursor: pointer;
}

.playlist-name:hover {
    color: rgba(255, 255, 255, 0.6);
}

#add-playlist {
    padding-bottom: 3px;
}

#add-playlist, #playlist-title {
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

#add-playlist:hover {
    color: rgba(255, 255, 255, 0.6);
}

#playlist-title:hover {
    color: rgba(255, 255, 255, 0.6);
}

#add-playlist-execute {
    margin-left: 12px;
    margin-bottom: -2px;
}

#playlist-submit {
    font-size: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    margin-left: 9px;
    background-color: rgba(255, 255, 255, 0.05);
}

#playlist-submit:hover {
    border: 1px solid rgba(255, 255, 255, 0.9);
}

#playlist-submit-input {
    font-size: 10px;
    text-align: left;
}

#open-up-img, #left-seek, #right-seek, #play, #pause {
    cursor: pointer;
}

#add-container {
    padding-bottom: 4px;
}

#option-container, #add-container, #playlists-container, #playlist-container, #add-playlist-execute {
    display: none;
}
