html, body {
    width: 100%;
    height: 100%;
    margin: 0;
	font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

select {
    min-width: 80px;
}

.controls {
    width: 30px;
    height: 30px;
}

#mute-button {
    height: 30px;
}

#song-table, th, td {
    border: 1px solid;
    font-weight: normal;
    border-collapse: collapse;
}

#song-table th, #song-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}

#song-table .song-edit-buttons {
    max-width: 100%;
    border: none;
}

#song-table .song-edit-buttons th {
    border: 1px solid;
}

#song-table tbody tr:not(.playing):hover {
    background-color: #F2F2F2;
}

th.song-number, td.song-number {
    width: 10%;
    text-align: center;
}

th.song-title, td.song-title {
    width: 50%;
}

th.song-artist, td.song-artist {
    width: 40%;
}

.song-edit-buttons > button {
    display: inline;
}

#song-table {
    width: 100%;
    margin-bottom: 15px;
}

tr {
    width: 100%;
}

td {
    padding: 5px;
    cursor: pointer;
}

#new-song-form input {
    display: block;
    margin-bottom: 15px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    border-top: 1px solid;
    background-color: white;
}

#footer > div {
    display: block;
    padding: 0px 5px;
}

#footer > div > * {
    display: inline-block;
    vertical-align: middle;
    
}

#footer .left {
    float: left;
    max-width: 50%;
}

#current-song {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#footer .right {
    float: right;
}

#songTime {
    min-width: 35px;
}

#left-panel {
    float: left;
    width: 160px;
    height: calc(100% - 80px);
    border-right: 1px solid;
}

#left-panel > * {
    display: block;
}

#right-panel {
    float: left;
    width: calc(100% - 160px);
    height: calc(100% - 80px);
}

#left-panel, #right-panel {
    overflow-y: scroll;
}

#left-panel::-webkit-scrollbar, #right-panel::-webkit-scrollbar {
    display: none;
}

#header {
    float: left;
    clear: both;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid;
}

#header-title {
    vertical-align: middle;
    font-weight: bold;
}

#right-panel {
    padding: 5px;
}

#header, #footer {
    padding-left: 5px;
}

#left-panel *:not(ul):not(li):not(form) {
    margin-top: 15px;
    margin-left: 5px;
}

#playlist-select {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#playlist-select > li {
    margin: 0;
    padding: 5px;
    vertical-align: middle;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

#playlists-header {
    font-weight: bold;
    vertical-align: middle;
    padding: 10px 0px 10px 0px;
    margin-top: 0;
}

#playlist-select .selected {
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: lightgray;
}

#playlist-select .selected::after {
    content: "";
    height: inherit;
    width: 500px;
    margin-rigth: 500px;
}

#song-table tr.playing {
    background-color: lightgray;
}